*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}


/* -----------------------
        NAVBAR
--------------------------*/
.navbar{
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgb(51, 107, 228);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    height: 100px;
}

.left-side-nav, .right-side-nav{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.left-side-nav{
    margin-left: 180px;
    justify-content: left;
}
.right-side-nav{
    margin-right: 180px;
}
.left-side-nav img, .left-side-nav p{
    display: inline-block;
}
.logo-img{
    width: 60px;
    height: 60px;
    border-radius: 4px;
}
.left-side-nav p{
    margin-left: 20px;
    font-size: 26px;
    font-weight: bold;
}

.nav-menu p{
    font-size: 20px;
    font-weight: bold;
}
.nav-menu p:hover{
    cursor: pointer;
    opacity: 0.75;
}
.menu-icon{
    display: none;
    position: absolute;
    top: 35px;
    right: 30px;
    height: 30px;
    width: 32px;
    padding: 0;
    border-radius: 4px;
}
.menu-icon:hover{
    cursor: pointer;
}
.menu-icon img{
    width: 30px;
    height: 26px;
    object-fit: cover;
}
.nav-menu select{
    background-color: rgb(51, 107, 228);
    width: 45px;
    height: 20px;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
}
.flag{
    width: 30px;
    height: 20px;
}

 /* ----------------------------
        Image Slide
--------------------------------- */

.top-image-slider{
    position: relative;
    width: 100%;
    height: 800px;
    text-align: center;
    overflow: hidden;
    border-bottom: 30px solid rgb(51, 107, 228);
}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: left 1s ease;
    object-fit:fill;
}
.slide.hide{
    left: -100%;
}
.slide.show{
    left: 0;
}

  
.slide-title{
    position: relative;
    left: 0.75%;
    top: 30%;
}
.slide-title p{
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
}
.btn{
    background-color: rgb(51, 107, 228);
    font-size: 20px;
    padding: 10px 35px;
    border-radius: 4px;
    margin-top: 20px;
    border: 1px solid rgb(64, 121, 245);
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(76, 77, 80, 0.5);
}



/*---------------------------------------
        Popular Places
----------------------------------------*/
.popular{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.popular-title{
    font-size: 30px;
    font-weight: bold;
    color: rgb(51, 107, 228);
    margin:20px 0px;
}
.places-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
#back-btn, #next-btn{
    width: 65px;
    height: 15px;
    cursor: pointer;
}
#back-btn{
    margin-left: 0;
    margin-right: 20px;
}
#next-btn{
    margin-right: 0;
    margin-left: 20px;
}
.hotels{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    gap: 15px;
}
.slide-places{
    background-color: rgb(231, 233, 233);
    height: 480px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(192, 190, 190, 0.3);
}
.slide-places:hover{
    transform: translateY(-5px);
    opacity: 0.8;
}
.slide-places img{
    height: 300px;
    border-radius: 3px;
}
.hotel-name{
    color: rgb(51, 107, 228);
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0px;
}
.place-description{
    color: rgb(61, 61, 61);
    font-size: 20px;
    margin: 15px 5px;
}
.btn-book{
    padding: 5px 10px;
    width: 100px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    background-color: rgb(51, 107, 228);
    cursor: pointer;
}



/*---------------------------------------
        SOCIAL MEDIA
----------------------------------------*/
.social-media{
    background-color: rgb(51, 107, 228);
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 50px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.follow-title{
    font-size: 26px;
    font-weight: bold;
    margin: 4px;
}
.follow-description{
    text-align: center;
    font-size: 20px;
    margin-bottom: 4px;
}
.social-media-icons{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}
.icons{
    width: 65px;
    height: 65px;
    margin: 10px;
    border-radius: 7px;
    border: 1px solid lightgray;
    cursor: pointer;
    overflow: hidden;
}
.icons:hover{
    border: 1px solid rgb(50, 188, 230);
    transform: translateY(3px);
}
.icon-img{
    width: 65px;
    height: 65px;
    object-fit: cover;
}



/* -------------------------------------
GALLERY
---------------------------------------*/
.gallery{
    width: 81%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-content: center;
    margin-top: 50px;
}
.img-gallery{
    padding: 4px;
    text-align: center;
    margin: 5px;
}
.img-gallery img{
    object-fit: contain;
    height: 340px;
}
.img-gallery img:hover{
    cursor: pointer;
    opacity: 0.8;
}


/*  GALLERY FULL SCREEN*/
.fullBox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .fullBox img {
    max-width: 90%;
    max-height: 90%;
  }
  
  .fullBox .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }




  /*-------------------------------------
        CUSTOMER REVIEW
  ---------------------------------------*/
  .cust-review{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    padding: 40px 0px;
    background:linear-gradient(white 60%, rgb(12, 133, 233) 80%);
  }
  .review{
    background-color: rgb(253, 251, 251);
    box-shadow: 10px 10px 10px rgba(129, 129, 129, 0.3);
    border: 1px solid rgb(248, 248, 248);
    border-radius: 5px;
    height: 350px;
    margin: 20px;
    padding: 25px 20px;
    transition: transform 0.3s;
  }
  .review:hover{
    background-color: rgb(221, 220, 220);
    transform: translateY(-7px);
  }
  .review p{
    margin: 10px 0px;
    color: rgb(54, 54, 54);
    font-size: 26px;
    font-weight: bold;
  }
  
  .img-customer{
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }
  .review-paragraph{
    text-align: left;
    line-height: 35px;
    color: black;
    font-size: 20px;
  }

 

  
  /*---------------------------------------
        TRAVEL TIPS
  -----------------------------------------*/
  .travel-tip{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .tips{
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(129, 129, 129, 0.3);
  }
  .tips img{
    display: inline-block;
    width: 50%;
    object-fit: cover;
  }
  .tips-text{
    text-align: center;
    background-color: rgb(240, 237, 237);
    width: 50%;
    padding: 20px 40px;
  }
  .tips-text p{
    color: black;
  }
  .trip-p{
    font-size: 20px;
    line-height: 35px;
  }


/*------------------------------------------
    CONTACT SECTION
-------------------------------------------*/
.contact-section{
    background-color: rgb(51, 107, 228);
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
}
.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.details input{
    font-size: 20px;
    padding: 7px 15px;
    margin: 20px 0px;
    border-radius: 4px;
    color: rgb(26, 25, 25);
    outline: none;
}
#name, #email{
    margin-right: 5%;
}
.message textarea{
    width: 100%;
    height: 150px;
    font-size: 20px;
    padding: 5px 10px;
    margin: 20px 0px;
    border-radius: 5px;
    color: rgb(26, 25, 25);
    resize: none;
    outline: none;
    box-sizing: border-box;
}
.submit-btn{
    color: rgb(51, 107, 228);
    background-color: white;
    padding: 10px 25px;
    font-size: 24px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.submit-btn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(99, 147, 250);
}

/*--------------------------------------------
        FOOTER
----------------------------------------------*/
.footer{
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: rgb(51, 107, 228);
    margin-top: 50px;
}
.footer-contents{
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    align-items: center;
}

.phone-number, .whatsapp, .email-contact, .linkedin-contact{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 5px;
    text-align: left;
}
.email-contact, .linkedin-contact{
    text-align: right;
}
.footer-col img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}
.footer-col p{
    display: inline-block;
}
.footer-copy{
    text-align: center;
}
.travel-t{
    font-size: 14px;
    margin: 10px 0px;
}
.linkedin-contact img{
    border: 1px solid white;
}






/*-----------------------------------------
        MEDIA QUAERY
--------------------------------------------*/
@media (max-width:1600px){
    .gallery{
        width: 83%;
    }   
    .img-gallery img{
        height:300px;
    }
    .cust-review{
        width: 83%;
    }
    .review-paragraph{
        font-size: 16px;
    }
    .travel-tip{
        width: 82.5%;
    }
    .contact-section{
        width: 72.5%;
    }
   
}

@media (max-width:1200px) {
    .left-side-nav{
        margin-left: 60px;
    }
    .right-side-nav{
        margin-right: 60px;
    }
    .popular{
        width: 90%;
    }
    .hotels{
        grid-auto-columns: 48%;
    }
    .btn-book{
        font-size: 18px;
    }
    .social-media{
        width: 80%;
    }
    .gallery{
        width: 90%;
    }
    .img-gallery img{
        height: 230px;
    }
    .cust-review{
        width: 90%;
    }
    .review p{
        font-size: 22px;
    }
    .travel-tip{
        width: 90%;
    }
    
    .trip-p{
        font-size: 16px;
        line-height: 30px;
    }
    .contact-section{
        width: 80%;
    }
    .footer-contents{
        width: 55%;
    }
}
@media (max-width:850px) {
    .navbar{
        grid-template-columns: 2fr 1fr;
    }
    .menu-icon{
        display: block;
    }
    .left-side-nav{
        margin-left: 20px;
    }
    .right-side-nav{
        display: none;
        background-color: rgb(93, 145, 241);
        position: fixed;
        top: 45px;
        right: 38px;
        z-index: 1100;
        flex-direction: column;
        text-align: left;
        margin-right: 20px;
        width: 180px;
        border-radius: 5px;
    }
    .nav-menu{
        margin: 10px 35px;
    }
    .logo-img{
        width: 40px;
        height: 40px;
        border-radius: 3px;
    }
    .left-side-nav p{
        font-size: 20px;
    }
    .nav-menu p{
        font-size: 18px;
    }
    .top-image-slider{
        height: 500px;
    }
    .slide-title p{
        font-size: 20px;
    }
    .btn{
        padding: 5px 10px;
    }
    .popular{
        width: 95%;
    }
    .hotel-name{
        font-size: 20px;
    }
    .slide-places{
        height: 400px;
    }
    .slide-places img{
        height: 200px;
    }
   
    .follow-title{
        font-size: 22px;
    }
    .gallery{
        width: 93%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cust-review{
        width: 95%;
        grid-template-columns: 1fr 1fr;
    }
    .travel-tip{
        width: 94%;
    }
    .contact-section{
        width: 88%;
        padding: 2% 3%;
    }
    .submit-btn{
        padding: 5px 10px;
        font-size: 20px;
    }
    .details{
        padding: 1% 6%;
    }
    .message{
        padding: 1% 6%;
    }
    .details input, .message textarea{
        font-size: 16px;
    }
    .message textarea{
        height: 100px;
    }
    .footer-contents{
        width: 65%;
       }
    .phone-number, .whatsapp, .email-contact, .linkedin-contact{
        font-size: 14px;
    }
    .footer-col img{
        width: 15px;
        height: 15px;
    }
    .travel-t{
        font-size: 16px;
    }
}
@media (max-width:650px) {
    .menu-icon{
        right: 25px;
    }
    .top-image-slider{
        height: 350px;
    }
    .hotels{
        grid-auto-columns: 85%;
    }
    .btn-book{
        font-size: 16px;
        padding: 5px 7px;
    }
    .top-image-slider{
        height: 500;
    }
    .icons{
        width: 35px;
        height: 35px;
    }
    .slide-places img{
        height: 200px;
        border-radius: 3px;
    }
    .icon-img{
        width: 35px;
        height: 35px;
    }
    .gallery{
        width: 97%;
    }
    .img-gallery img{
        height: 150px;
    }
    .cust-review{
        width: 97%;
        grid-template-columns: 1fr;
    }
    .review{
        height: 290px;
    }
    .travel-tip{
        width: 96%;
    }
    .trip-title{
        font-size: 20px;
    }
    .contact-section{
        width: 91%;
    }
    #name, #email{
        margin-right: 0;
    }
    .details{
        grid-template-columns: 1fr;
    }
    .footer-contents{
        column-gap: 5px;
    }
    .footer-contents{
        width: 85%;
       }
    .phone-number, .whatsapp, .email-contact, .linkedin-contact{
        font-size: 12px;
    }
    .footer-col img{
        width: 12px;
        height: 12px;
    }
    .travel-t{
        font-size: 12px;
    }
}
@media (max-width:400px) {
    .footer-contents{
        width: 95%;
    }
    .phone-number, .whatsapp, .email-contact, .linkedin-contact{
        font-size: 10px;
    }
}